extends ./layouts/default

block variables 
	- let pageTitle = "Отель “Море удачи”";
	- let breadCrumbsList = [{"title": "Главная", "link": "/"}, {"title": "Крым", "link": "/"},  {"title": "Алушта", "link": "city.html"}, {"title": "Жилье", "link": "city-hotels.html"}];
	- let currentPage = "Отель “Море удачи”"

append styles 
	link(href="assets/styles/content.css" rel="stylesheet")
	link(href="assets/styles/detail-card.css" rel="stylesheet")

append scripts 
	script(src="assets/scripts/detail-card.js" type="module")

block content 
	.detail-card 
		.detail-card__wrapper
			.container
				.page-title= pageTitle 
				+headerCard("Radisson Blu Hotel Kaliningrad ", "Калининград, пл. Победы, д. 10")
				.detail-card__body 
					aside.detail-card__aside.aside(data-da=".box-card-mobile, 767.98, 0")
						+asideMap
						+asideContacts("По вопросам бронирования")
					.detail-card__main
						+gallery([...cardPage.gallery])
						+detailCardBox("Описание", "", "description")
							.box-card__content.content 
								p Мы очень признательны Вам, что Вы обратили внимание на наш гостевой дом На Победе. Удобное место расположение его выгодно отличает о  других мест отдыха, находясь в центре поселка Лазаревское.
								p В шаговой доступности находится центральный рынок, аквапарк «Наутилус», экскурсионные бюро, концертный зал ЦНК и места отдыха. И главное — до моря 5 — 10 минут спокойным шагом! Фонового шума в ночное время от кафе и дискотек с центральной набережной не слышно.
								p Территория гостевого дома На Победе облагорожена: газоны, высажены тропические растения и пальмы. Для отдыхающих обустроена площадка для отдыха.
								p Номерной фонд состоит из 2 и 3 местных номеров со всеми удобствами. В каждом номере: телевизор, кондиционер, холодильник, душ, санузел). Производится ежедневная уборка.
							button(type="button").btn-detail.box-card__btn-show 
								span Подробнее об отеле
						.box-card-mobile
						section.detail-card__box.box-card
							.accordeon.accordeon-price
								.accordeon__item
									.accordeon__header 
										| Цены на 2024 год
										.accordeon__button
											span Показать
											span Скрыть
											.accordeon__icon
									.accordeon__content 
										.table-price-wrap
											table.table-price
												thead.table-price__head
													tr 	
														th 
														th 
														- for (var x = 0; x < 6; x++)
															th 21.05 - 30.06
												tbody.table-price__body 
													- for (var i = 0; i < 4; i++)
														tr 
															td Двухместный «Эконом» (2-й этаж)
															td за комнату
															- for (var x = 0; x < 6; x++)
																td 1000
						.detail-card__rooms
							each item in cardPage.rooms
								+roomCard(item)
						+detailCardBox("Расположение", "Калининград, пл. Победы, д. 10", "location")
							.box-card__map 
								button(type="button").map-button.btn.btn-white Показать на карте
							.box-card__places.places 
								each item in cardPage.places
									.places__item
										.places__caption= item.caption
										if item.list
											ul.places__list 
												each listItem in item.list
													li.places__list-item
														span.places__name= listItem.name
														span.places__distance= listItem.distance
						section.detail-card__box.box-card.box-reviews
							.box-card__header 
								h2.box-card__title Отзывы гостей
								.box-reviews__stats 
									.box-reviews__estimate 5,0
									.box-reviews__text 
										p Отлично
										p.box-reviews__text-small на основании 895 оценок
										p.box-reviews__text-alternative 895 оценок
							.box-reviews__progress.progress-items
								each item in cardPage.reviews.progress
									.progress-item(class=`progress-item--${item.key}`)
										.progress-item__caption= item.caption
										.progress-bar 
											.progress-bar__line 
												span(style={'width': `${item.percent}%`} data-value=item.value id=`progress_${item.key}`)
											.progress-bar__value= item.value
							.box-reviews__slider.slider-reviews
								.slider-reviews__title Что гостям понравилось:
								.slider-reviews__body 
									.slider-reviews__wrapper 
										- for (var x = 0; x < 5; x++)
											.slider-reviews__item.item-reviews
												.item-reviews__header 
													.item-reviews__logo
														img(src="assets/images/detail-card/reviews/logo.png", alt="логотип")
													+rating("3")
													.item-reviews__author Анастасия
												.item-reviews__content.text-clamp
													p Прекрасный отель. Вид из окна просто потрясающий. Вечером сидели в ресторане и любовались видом. Номер отличный, большой, чистый. Кровать очень большая. В душе всегда есть горячая вода. Персонал молодцы, какой вопрос не задашь, они всегда знаю...
												.item-reviews__footer 
													.item-reviews__date 12.08.22
													+btnDetail("Подробнее")
									.slider-controls 
										button(type="button").slider-button.slider-button-prev
										button(type="button").slider-button.slider-button-next
								a(href="#").btn.btn-blue-transparent.btn-lg.box-reviews__btn-show Читать все отзывы 
						+detailCardBox("Удобства")
							ul.features-list.comform-features
								each feature in cardPage.comfort
									li.features-list__item(class=`${feature.key}`)= feature.name
						+detailCardBox("Условия заселения")
							.box-card__conditions.conditions
								.conditions__items 
									.conditions__item.item-condition
										.item-condition__heading Заселение и выезд
										.item-condition__content 
											ul.item-condition__list 
												li.item-condition__list-item 
													span.item-condition__label Заезд
													span.item-condition__time 14:00 - 00:00
												li.item-condition__list-item 
													span.item-condition__label Выезд
													span.item-condition__time до 12:00
											.item-condition__info При регистрации заезда необходимо предъявить удостоверение личности с фотографией и кредитную карту.
									.conditions__item.item-condition
										.item-condition__heading Отмена / предоплата
										.item-condition__content 
											.item-condition__text Правила отмены бронирования и предоплаты зависят от типа выбранного варианта. Проверьте #[a(href="").text-link условия бронирования] каждого варианта, прежде чем сделать выбор.
						+detailCardBox("Популярные вопросы")
							.box-card__faq.accordeon
								each item in cardPage.faq
									.accordeon__item
										.accordeon__header 
											| #{item.header}
											span.accordeon__icon
										.accordeon__content
											.accordeon__text
												p= item.content
				.detail-card__categories.categories
					section.categories-section
						.heading
							.heading__title Другие объекты в Алуште рядом
						+badges([...cityPage.badgesList])
						.categories-slider
							.categories-slider__body.swiper
								.categories-slider__wrapper.swiper-wrapper
									each hotel in homePage.hotels
										.categories-slider__item
											+facilityPreview(hotel, "homepage/main-hotels")
							.slider-controls 
								button(type="button").slider-button.slider-button-prev 
								button(type="button").slider-button.slider-button-next 
					section.categories-section
						.heading
							.heading__title Алушта
						+badges([...cityPage.badgesList])
					section.categories-section
						.heading
							.heading__title Курорты
						+badges([...cityPage.badgesList])


