doctype html
html(lang="ru")
	block variables
	include ../helpers/mixins
	include ../helpers/variables
	head 
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name='viewport', content='width=device-width, initial-scale=1')
			title #{pageTitle}
			//- meta(name='viewport', content='width=1320px, initial-scale=1')
			meta(name="description" content=description)
			meta(name="keywords" content="Перечень ключевых слов")
			meta(property="og:type" content="website")
			meta(property="og:url" content="https://example.com")
			meta(property="og:title" content=pageTitle)
			meta(property="og:description" content=description)
			//- meta(property="og:image" content="./images/favicons/favicon-16x16.png")
			meta(property="twitter:title" content=pageTitle)
			meta(property="twitter:description" content="description")
			link(rel="canonical" href="https://example.com")
			block styles
				link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet")
				link(href="assets/styles/main.css" rel="stylesheet")
			meta(name="theme-color" content="#fff")
			meta(name="msapplication-navbutton-color" content="#fff")
			meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
			meta(name="apple-mobile-web-app-title" content="Название")
			meta(name="apple-mobile-web-app-capable" content="yes")
			meta(name="format-detection" content="telephone=no")
			meta(name="format-detection" content="address=no")
			meta(name="format-detection" content="email=no")
			meta(name="format-detection" content="date=no")
			link(rel="shortcut icon" href="images/favicons/favicon.svg" type="image/x-icon")
	body(class=bodyClass ? bodyClass : '')
		div.wrapper
			include ../components/header
			if !bodyClass
				include ../components/breadcrumbs
			main.main
				block content
			include ../components/footer
			.overlay
		block scripts
			script(src="assets/scripts/main.js" defer)
