.weather-widget
	if cityPage.weather
		.card-weather
			.card-weather__header 
				.card-weather__main
					.card-weather__image 
						img(src="assets/images/city/weather-widget/weather-1.svg", alt="")
					.card-weather__degrees
						.card-weather__value= cityPage.weather.header.degrees
						.card-weather__sup-value °C / °F
					.card-weather__info 
						each info in cityPage.weather.header.info
							p= info
				.card-weather__today.today-weather
					.today-weather__title Погода сегодня
					.today-weather__values 
						each res in cityPage.weather.header.today
							.today-weather__value= res
			.card-weather__week
				each item, index in cityPage.weather.week
					.card-weather__item(class={active: index === 0})
						.card-weather__caption= item.caption
						.card-weather__image 
							img(src=`assets/images/city/weather-widget/weather-${item.image}.svg`, alt=item.caption)
						.card-weather__temp.temp-weather
							each temp in item.range
								.temp-weather__value= temp
